@import "layouts/all-layouts";

@import "components/header";
@import "components/footer";
@import "components/buttons";
@import "components/images";
@import "components/forms";
@import "global";
@import "utilities/positioning";
@import "variables";
@import "typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;

}

body {
    font-size: 2rem;
    position: relative;
    min-height: 100vh;
    background-color: #a8dadc;
}
