@import "variables";

.image-box-sm {
    width: 20rem;
    //height: 20rem;
    flex: 0 1 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 1rem;
     & img {
        max-width: 100%;
     }

}

.image-box-md {
    width: 40rem;
    //height: 40rem;
    flex: 0 1 40rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2rem 4rem;

    & img {
        max-width: 100%;
    }
}
