@import "../variables";

footer {
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items:
    min-height: 5vh;
    border-bottom: 1px solid #2d3748;
    background-color: $prussianBlue;

    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0 3rem;
        background-color: $prussianBlue;

        & .right {
            display: flex;
            justify-content: center;

            & .name {
                margin-right: 3rem;
            }
        }

        & a:not(:last-of-type) {
            margin-right: 2rem;
        }

        & a {
            color: $honeydew;
            font-size: 2.5rem;
            padding: 2rem 1rem;
        }
    }

    & .banner {
        background-color: #4a5568;
        height: 40vh;
        width: 100%;
        background-image: url('/images/design/proto.jpeg');
        background-size: cover;
        background-position: center;
    }
}
