@import "../variables";

header {
    border-bottom: 1px solid #2d3748;
    color: $honeydew;

    .logo {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 1rem;
        & .sufix, & .prefix {

            padding: 1rem .5rem;
            transition: .5s;
        }


        & .prefix {
            background-color: $imperialRed;
            color: $honeydew;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        & .sufix {
            background-color: $honeydew;
            color: $imperialRed;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .logo:hover {
        & .prefix {
            background-color: $honeydew;
            color: $imperialRed;
        }

        & .sufix {
            background-color: $imperialRed;
            color: $honeydew;
        }
    }

    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        padding: 0 3rem;
        background-color: $prussianBlue;
        flex-wrap: wrap;

        & .left {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        & .right {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            & .name {
                margin-right: 3rem;
                text-align: center;
            }
        }

        & a:not(:last-of-type) {
            margin-right: 2rem;
        }

        & a {
            color: $honeydew;
            font-size: $f-medium;
            padding: 2rem 1rem;

            @media (max-width: $w500) {
                font-size: $f-small;
                padding: .5rem .3rem;
            }
        }

    }

    & .banner {
        background-color: #4a5568;
        height: 40vh;
        width: 100%;
        background-image: url('/images/design/proto.jpeg');
        background-size: cover;
        background-position: center;
    }
}


