.xy-centered {
  background-color: #1D3557;
}

.admin-container {
  min-height: 100vh;
}

.container {
  min-height: 60vh;
  width: 70vw;
  background-color: #A8DADC;
  margin: auto;
}

section {
  width: 100%;
  padding: 5rem 4rem;
  background-color: #1D3557;
  color: #F1FAEE;
  border-radius: 5px;
  box-shadow: #2d3748 1rem 1rem 3rem 0px;
}
section:first-of-type {
  margin-top: 2rem;
}
section:not(:last-of-type) {
  margin-bottom: 5rem;
}
section:last-of-type {
  margin-bottom: 2rem;
}
section .open-all {
  float: right;
}

.the-wrapper {
  display: flex;
  width: 100%;
  padding: 2rem 4rem;
  flex-wrap: wrap;
  justify-content: center;
}
.the-wrapper .wrapped-col {
  flex: 1 1 30rem;
}
.the-wrapper .wrapped-col:not(:last-of-type) {
  margin-right: 2rem;
}

.the-wrapper-25 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 5rem;
}
.the-wrapper-25 a:not(:last-of-type) {
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.the-wrapper-25 .card-25 {
  flex: 0 1 auto;
  background-color: #26546d;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 2rem;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
}
.the-wrapper-25 .card-25:hover {
  transform: scale(1.05);
  box-shadow: #ffd8a1 0 0 3rem 0px;
}
.car:first-of-type {
  margin-top: 2rem;
}

.car {
  display: flex;
  padding: 2rem 3rem;
  background-color: #F1FAEE;
  border-radius: 5px;
  min-height: 22rem;
  flex-wrap: wrap;
}
.car .image-box-sm {
  margin-right: 2rem;
}
.car .car__body {
  flex: 1;
}
.car .car__body a {
  float: right;
  margin-right: 2rem;
  margin-top: 2rem;
}
.car .car__body ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.car .car__body ul div {
  flex: 1 1 23rem;
}
.car .car__body ul li {
  display: flex;
  margin: auto;
}
.car .car__body ul li .car__mini-title {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
  width: 50%;
  white-space: nowrap;
  font-weight: 600;
}
.car .car__body ul li .car__data {
  width: 50%;
  white-space: nowrap;
  text-align: left;
}

header {
  border-bottom: 1px solid #2d3748;
  color: #F1FAEE;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 3rem;
  background-color: #1D3557;
}
header nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .right .name {
  margin-right: 3rem;
}
header nav a:not(:last-of-type) {
  margin-right: 2rem;
}
header nav a {
  color: #F1FAEE;
  font-size: 2.5rem;
  padding: 2rem 1rem;
}
header .banner {
  background-color: #4a5568;
  height: 40vh;
  width: 100%;
  background-image: url("/images/design/proto.jpeg");
  background-size: cover;
  background-position: center;
}

footer {
  min-height: 5vh;
  border-bottom: 1px solid #2d3748;
  background-color: #1D3557;
}
footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 3rem;
  background-color: #1D3557;
}
footer nav .right {
  display: flex;
  justify-content: center;
}
footer nav .right .name {
  margin-right: 3rem;
}
footer nav a:not(:last-of-type) {
  margin-right: 2rem;
}
footer nav a {
  color: #F1FAEE;
  font-size: 2.5rem;
  padding: 2rem 1rem;
}
footer .banner {
  background-color: #4a5568;
  height: 40vh;
  width: 100%;
  background-image: url("/images/design/proto.jpeg");
  background-size: cover;
  background-position: center;
}

.btn {
  padding: 1rem 2rem;
  margin: 1.5rem;
  margin-left: auto;
  font-size: 1.5rem;
  text-transform: capitalize;
  border-radius: 5px;
}

.icon-box {
  margin: 2rem;
}
.icon-box img {
  display: block;
  border-radius: 100%;
  margin: auto;
}

.form-container {
  background-color: #F1FAEE;
  padding: 3rem 4rem;
  border-radius: 5px;
  background-image: linear-gradient(189deg, #ce272e 33%, #F1FAEE 33% 100%);
}
.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form input[type=text], .form-container form input[type=email], .form-container form input[type=password] {
  width: 40rem;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border-radius: 5px;
}
.form-container form input:not(:last-of-type) {
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form input[type=text], .form input[type=email], .form input[type=password], .form input[type=number], .form select, .form textarea, .form .radio-box, .form .select-box {
  width: 100%;
  padding: 1rem 1rem;
  font-size: 2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form input:not(:last-of-type) {
  margin-bottom: 1rem;
}
.form select {
  margin-bottom: 1rem;
  background-color: white;
}
.form label {
  margin-bottom: 1rem;
}

.xy-centered {
  justify-content: center;
  align-items: center;
  display: flex;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4rem;
}

h3 {
  text-align: center;
  margin-bottom: 2rem;
}

h4 {
  text-align: center;
  margin-bottom: 1.6rem;
}

a, :link, :visited {
  text-decoration: none;
}

section a {
  color: #F1FAEE;
}

h2 a {
  color: #F1FAEE;
}

a.add_car_btn {
  display: block;
  text-align: center;
  background-color: #ce272e;
  padding: 1rem;
  color: #F1FAEE;
  border-radius: 5px;
  transition: 0.3s;
}
a.add_car_btn:hover {
  background-color: #a02329;
  transform: scale(1.05);
}

.image-box-sm {
  width: 20rem;
  flex: 0 0 20rem;
  height: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.image-box-sm img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 2rem;
  position: relative;
  min-height: 100vh;
  background-color: #a8dadc;
}
