@import "xy-centered";
@import "admin";
@import "classic";

.the-wrapper {
    display: flex;
    width: 100%;
    padding: 2rem 4rem;
    flex-wrap: wrap;
    justify-content: center;
    & .wrapped-col {
        flex: 1 1 30rem;
    }

    & .wrapped-col:not(:last-of-type) {
        margin-right: 2rem;
    }
}
