@import "xy-centered";
@import "admin";
@import "classic";

section {
    width: 100%;
    padding: 5rem 4rem;
    //border-bottom: 50px solid $powderBlue;
    background-color: $prussianBlue;
    color: $honeydew;
    border-radius: 5px;
    box-shadow: #2d3748 1rem 1rem 3rem 0px;
    &:first-of-type {
        margin-top: 2rem;
    }

    &:not(:last-of-type) {
        margin-bottom: 5rem;
    }

    &:last-of-type {
        margin-bottom: 2rem;
    }

    & .open-all {
        float: right;
    }
}

.the-wrapper, {
    display: flex;
    width: 100%;
    padding: 2rem 4rem;
    flex-wrap: wrap;
    justify-content: center;
    & .wrapped-col {
        flex: 1 1 30rem;
    }

    & .wrapped-col:not(:last-of-type) {
        margin-right: 2rem;
    }
}

.the-wrapper-25 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 5rem;

    & a:not(:last-of-type) {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    & .card-25 {
        flex: 0 1 auto;
        background-color: $celadonBlue;
        height: 20rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 2rem;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: #ffd8a1 0 0 3rem 0px;

        }
    }
    & .card-25:not(:last-of-type) {
        //margin-right: 2rem;
        //margin-bottom: 2rem;
    }
}
