@import '../variables';

.container {
    //padding: 2rem 0;
    min-height: 60vh;
    width: 70vw;
    background-color: $powderBlue;
    margin: auto;
}
// MAINLY USED IN WELCOME PAGE
section {
    width: 100%;
    padding: 5rem 4rem;
    //border-bottom: 50px solid $powderBlue;
    background-color: $prussianBlue;
    color: $honeydew;
    border-radius: 5px;
    box-shadow: #2d3748 1rem 1rem 3rem 0px;
    &:first-of-type {
        margin-top: 2rem;
    }

    &:not(:last-of-type) {
        margin-bottom: 5rem;
    }

    &:last-of-type {
        margin-bottom: 2rem;
    }

    & .open-all {
        float: right;
    }
}

.the-wrapper, {
    display: flex;
    width: 100%;
    padding: 2rem 4rem;
    flex-wrap: wrap;
    justify-content: center;
    & .wrapped-col {
        flex: 1 1 30rem;
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .wrapped-col:not(:last-of-type) {
        margin-right: 2rem;
    }
}

.the-wrapper-25 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 5rem;

    & a:not(:last-of-type) {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    & .card-25 {
        flex: 0 1 auto;
        background-color: $celadonBlue;
        height: 20rem;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 2rem;
        border-radius: 5px;
        overflow: hidden;
        transition: .3s;

        &:hover {
            transform: scale(1.05);
            box-shadow: #ffd8a1 0 0 3rem 0px;
        }
    }
    & .card-25:not(:last-of-type) {
        //margin-right: 2rem;
        //margin-bottom: 2rem;
    }
}


// CARS page

.car:first-of-type {
    margin-top: 2rem;
}

.car:last-of-type {
    margin-bottom: 2rem;
}

.car:not(:last-of-type) {
    margin-bottom: 1rem;
}



.car {
    display: flex;
    padding: 2rem 3rem;
    background-color: $honeydew;
    border-radius: 5px;
    min-height: 22rem;
    flex-wrap: wrap;
    box-shadow: #2d3748 0 0 2rem;
    justify-content: center;
    align-items: center;
    & .image-box-sm {
        margin-right: 2rem;
    }

    &__cols {
        width: 100%;
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    & .car__body {
        flex: 1;

        & a {
            float: right;
            margin-right: 2rem;
            margin-top: 2rem;
        }

        & ul {
            width: 100%;
            display: flex;
            list-style: none;
            justify-content: space-evenly;
            flex-wrap: wrap;

            & div {
                flex: 1 1 23rem

            }

            & li {
                display: flex;
                margin: auto;


                & .car__mini-title {
                    flex: 1;
                    text-align: right;
                    margin-right: 1rem;
                    width: 50%;
                    white-space: nowrap;
                    font-weight: 600;
                }

                & .car__data {
                    width: 50%;
                    white-space: nowrap;
                    text-align: left;
                }
            }
        }
    }



}

.single-car {
    flex-direction: column;
    padding: 4rem 2rem;

    & p {
        margin-top: 2rem;
        text-align: justify;
        font-size: 2.3rem;
        border-top: #2d3748 1px solid;
        padding: 3rem 4rem 0;
    }
}

table {
    width: 100%;
    flex: 1;
    background: $prussianBlue;
    padding: 2rem;
    margin: auto;
    margin-top: 2rem;
    color: $honeydew;
    text-transform: uppercase;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    box-shadow: #2d3748  0 0 2rem;

    .a_delete {
        color: $imperialRed;
    }

    thead {
        font-weight: 600;
        font-size: 2rem;
        color: $imperialRed;
    }

    tr {
        text-align: center;
        margin: 2rem;
        display: flex;
        flex-wrap: wrap;

        td {
            margin: auto;
            padding-bottom: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1 1 10rem;
            min-height: 2rem;
            white-space: nowrap;
        }

        td:not(:last-of-type) {
            margin-right: 1rem;
        }

        .ti-photo {
            display: flex;
            justify-content: center;
            align-items: center;

            div {
                margin: 0;
            }
        }

        .ti-carName {
            font-size: 1.5rem;
            white-space: nowrap;
        }
    }
}

.totalPrice {
    padding: 2rem;
    background-color: $prussianBlue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 2.2rem;
    color: $honeydew;
    margin-left: auto;
    width: 30rem;
    margin-bottom: 2rem;
}

